<footer class="site-footer cf">
<div class="wrapper">

<div class="grid">
<div class="grid__col grid__col--6-of-8 grid__col--m-2-of-3 grid__col--s-1-of-1">


<img class="c2-logo-footer" src="/{{ site.theme-path }}/footer/cloud2-logo-white.svg" alt="Cloud2 logo">

<ul>
<li>2nd Floor, The Wool Exchange, 10 Hustlergate, Bradford BD11RE</li>
<li><a href="mailto:{{ site.email }}" title="Email {{ site.title }} at {{ site.email }}">{{ site.email }}</a> • <a href="tel:+1274308378" title="Call {{ site.title }} on {{ site.phone }}">{{ site.phone }}</a></li>
</ul>

<ul class="social-logo">
<li><a target="blank" title="Google Plus" href="https://plus.google.com/{{ site.googleplus }}"><img class="footer-logo" src="/{{ site.theme-path }}/footer/googleplus.svg" alt="Google Plus"></a></li>
<li><a target="blank" title="Twitter" href="https://twitter.com/{{ site.twitter_id }}"><img class="footer-logo" src="/{{ site.theme-path }}/footer/twitter.svg" alt="Twitter"></a></li>
<li><a target="blank" title="Linkedin" href="https://www.linkedin.com/company/{{ site.linkedin }}"><img class="footer-logo" src="/{{ site.theme-path }}/footer/linkedin.svg" alt="Linkedin"></a></li>
</ul>

<ul class="footer-inline">
<li>&copy; 2017 Cloud2 Ltd</li>
<li>Reg 34567778</li>
<li>VAT 36456456</li>

</ul>

</div>

<div class="grid__col grid__col--2-of-8 grid__col--m-1-of-3 grid__col--s-1-of-1">
<img class="footer-ms ms-partner" src="/{{ site.theme-path }}/footer/ms-partner.png" alt="Microsoft Partner">
<img class="footer-ms" src="/{{ site.theme-path }}/footer/ms-finalist.png" alt="Microsoft Finalist">
</div>
</div><!-- end grid -->




</div>
</footer>