<section class="cta" id="cta">
<div class="wrapper">

<h2>Would you prefer to talk to a human?</h2>

<p>{% if page.cta-text %}{{ page.cta-text }}{% else %}Enter your details to get in touch.{% endif %}</p>

 <form class="c2-form form-light">
<fieldset>

<div class="grid">

<div class="grid__col grid__col--3-of-8 grid__col--m-1-of-2 grid__col--s-1-of-1">
    <label class="label" for="name">Name</label>
    <input class="input-field" type="text" name="name" id="name" required>
    <label class="label" for="email-address">Email</label>
    <input class="input-field" type="email" name="email-address" id="email-address" required>
</div><!-- end grid col -->

<div class="grid__col grid__col--3-of-8 grid__col--m-1-of-2 grid__col--s-1-of-1">
    <label class="label" for="Job">Job title</label>
    <input class="input-field" type="text" name="job" id="job" required>
    <label class="label " for="organisation">Organisation</label>
    <input class="input-field" type="organisation" name="organisation" id="worganisationebsite">
</div><!-- end grid col -->

</div><!--end grid -->

<!--<label class=""><input type="checkbox">Join the mailing list. We won't ever spam you.</label>-->
</fieldset>

<input class="button" type="submit" value="Send message">

</form>

</div>
</section>