<section class="cta">
<div class="wrapper">

{% markdown %}
## Would you prefer to talk to a human?

No matter what we say here, you’re probably going to have specific questions you need answered. Send them our way and we’ll make sure you have all the information you need. Just fill in the form below and we’ll get back to you. If it’s of use, we can arrange a convenient time to demonstrate our solutions. And as you’d expect, there’s no obligation or pressure whatsoever.
{% endmarkdown %}

 <form class="c2-form form-light">
<fieldset>

<div class="grid">

<div class="grid__col grid__col--3-of-8 grid__col--m-1-of-2 grid__col--s-1-of-1">
    <label class="label" for="name">Name</label>
    <input class="input-field" type="text" name="name" id="name" required>
    <label class="label" for="email-address">Email</label>
    <input class="input-field" type="email" name="email-address" id="email-address" required>
</div><!-- end grid col -->

<div class="grid__col grid__col--3-of-8 grid__col--m-1-of-2 grid__col--s-1-of-1">
    <label class="label" for="email-address">Telephone</label>
    <input class="input-field" type="tel" name="tel" id="tel" required>
    <label class="label " for="website">Website</label>
    <input class="input-field" type="website" name="website" id="website">
</div><!-- end grid col -->

</div><!--end grid -->

<!--<label class=""><input type="checkbox">Join the mailing list. We won't ever spam you.</label>-->
</fieldset>

<input class="button" type="submit" value="Send message">

</form>

</section>