<div class="hero {% if page.nav-class %}{{ page.nav-class }}{% endif %}">
<div class="wrapper">

<div class="grid">
<div class="grid__col grid__col--3-of-5 grid__col--m-1-of-1 grid__col--s-1-of-1">
<h1 class="post-title">{{ page.hero-title }}</h1>
<p>{{ page.hero-text }}</p>
{% if page.hero-button-text %}<a href="{{ page.hero-button-link }}" title="{{ page.hero-button-text }} from Cloud2" class="button hero-button">{{ page.hero-button-text }} &rarr;</a>{% endif %}
</div><!-- end grid cols -->

</div><!-- end grid -->
</div><!-- end wrapper -->
</div><!-- end hero -->