<section class="home-workspaces">
<div class="wrapper">

<h2>Digital workspaces</h2>

<p class="intro">‘Digital workspaces’ are simply digital tools that help your staff do their jobs better. Here are a few of the workspaces we offer.</p>

<div class="grid workspace-list" id="workspace-list">
{% assign items = page.workspace %}
{% for workspace in page.workspace limit:100 %}
<!-- [ {{ workspace.workspace-title }} list item ] -->

<div class="grid__col grid__col--1-of-3 grid__col--m-1-of-2 grid__col--s-1-of-1">
<div class="workspace-card js-scroll">
<a class="cf js-workspace-card-link workspace-card-link {{ workspace.workspace-data }}" href="#workspace-list" title="{{ workspace.workspace-title }} • A Digital Workspace from Cloud2" data-workspace="{{ workspace.workspace-data }}">
	<span class="workspace-image-wrap"><img class="workspace-image" alt="{{ workspace.workspace-title }}" src="/images/workspaces/{% if workspace.workspace-image %}{{ workspace.workspace-image }}{% else %}intranets.svg{% endif %}"></span>
	<h3 class="workspace-card-heading">{{ workspace.workspace-title }}</h3>
</a>
</div>
</div>
{% endfor %}
</div><!-- end grid -->


{% assign items = page.workspace %}
{% for workspace in page.workspace limit:100 %}
<!-- [ {{ workspace.workspace-title }} description ] -->

<div class="workspace-details hide js-workspace-fade {{ workspace.workspace-data }}" data-workspace="{{ workspace.workspace-data }}">
	<h3>{{ workspace.workspace-title }}</h3>
	<p>{{ workspace.workspace-text }}</p>
	<img class="" alt="{{ workspace.workspace-title }}" src="/images/workspaces/{% if workspace.workspace-image %}{{ workspace.workspace-image }}{% else %}intranets.svg{% endif %}">
</div>
{% endfor %}


</div><!-- end wrapper -->
</section>