/*------------------------------------*\
    #NEWS LISTING
\*------------------------------------*/

.home-news-listing {
	background: $color-pale-bg;
	clear: both;
	.post-date {font-size: 1rem;}

}

//.post-date + p {margin-top: 0rem;}
