/*------------------------------------*\
    #EVENT listing
\*------------------------------------*/

.event-list-date {
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
	clear: both;
	span {
		float: left;
		clear: both;
		display: block;
		width: 2rem;
		line-height: 1;
	}	
	.month {
		text-transform: uppercase;
		font-size: 0.75rem;
	}
	.day {
		font-size: 1.4rem;
		color: #000;
	}
	.year {
		font-size: 0.7rem;
		color: #ccc;
	}
}

.event-list-date-inline {
	display: inline-block;
	float: left;
	border-right: 1px solid #efefef;
	padding-right: 1rem;
}

.event-list-item {
	border-left: 5px solid $c2-blue;
	margin-top: 1.5rem;
p {
	clear: both;
	margin-top: 1rem;
}

.event-details {
	margin-right: 1rem;
}
	.button {
		margin-top: 0;
	}
}

h2.event-heading {
	font-size: 1.4rem;
}
h3.event-subheading {
	color: #ccc;
}

h2.event-heading, h3.event-subheading {
	display: inline-block;
	clear: none;
	width: 85%;
	margin-top: 0;
	margin-bottom: 0;
}

.home-event {
	//background-image: url(#{$themepath}/dots-top-left.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	//background: linear-gradient(10deg, $c2-midblue 0%, $c2-blue 100%);
}

.home-event .event-list-item {
	margin-top: 1rem;
	margin-bottom: 1rem;
}