/*------------------------------------*\
    #NEWS
\*------------------------------------*/

.news-heading {
	margin-top: 0;
	margin-bottom: 0;
}


.news-meta {
	font-size: 0.8rem;
	color: #b0b0b0;
}

@media (max-width: $toast-breakpoint-medium) {
}

@media (min-width: $toast-breakpoint-medium) {
}