/*------------------------------------*\
    #CARD
\*------------------------------------*/

.card {
	background: rgba(255,255,255,1);
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
	padding: 1.5rem 1.5rem 1.5rem 1.5rem;
	color: $color-main-lighter;
	margin-bottom: 1.5rem;
	position: relative;
	h2 {
		font-size: 1.5rem;
	}
	q {
		display: block;
	}
}

.card-intro {
	color: $c2-darkblue;
}

.card-case {
		min-height: 24rem;
}

.card-home h2 {
	margin-top: 0.25rem;
}

.card-home h2 a:before {
	content: "";
	width: 20%;
	height: 6px;
	background-color: $c2-blue;
	display: block;
	margin-bottom: 1rem;
	transition: 0.2s ease background-color;
}


.card-home h2 a:hover:before {
	background-color: $c2-orange;
}

.home-cards {
	background-color: $color-grey-bg;
	background-image: url(#{$themepath}/icons-strip.png);
	background-position: bottom center;
	background-repeat: repeat-x;
	border-top: 5px solid darken($color-grey-bg, 10%);
	position: relative;
	.card {
	margin-top: 2rem;
}
}


@media (min-width: $toast-breakpoint-medium) {
	.home-cards {
			.card {
		margin-top: -5rem;
	}
	}
}



.card-link {
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
	font-weight: normal;
}

.home-card-image {
 	display:block;
 	width: 80%;
    margin: 1rem auto;
	clear: both;
}

.solution-intro {
	h2:before {
		content: "";
		display: block;
		width: 3rem;
		height: 8px;
		background-color: $c2-blue;
	}
}

.solution-intro {
	font-weight: bold;
	h2 {font-size: 2rem;}
}
