/*------------------------------------*\
    #NAV
\*------------------------------------*/

// general nav styles
nav {
	margin: 0;
	padding: 0;
	a {
		font-weight: normal;
	}
	ul {
		display: block;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
		}
	}
}

.site-nav {
	background-color: $c2-darkblue;
	a, a:visited {
		color: #fff;
	}
	a {
		transition: color 0.2s ease;
	}
	a:hover {
		color: $c2-blue;
	}
}

// white logo and product nav bar
.product-nav-wrap {
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.20);
	position: relative;
	z-index: 1000;
}

.product-nav-ul {
	display: inline-block;
	list-style: none;
	float: right;
	li {
		display: inline-block;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		a, a:visited {
			color: lighten($color-main, 20%);
		}
		a {
			transition: color 0.2s ease;
		}
		a:hover {
			color: $theme1;
		}
	}
	li:first-child {
		margin-left: 0;
	}
}


// 50 50 split
@media (min-width: $toast-breakpoint-medium) {
	.main-nav {
		max-width: 49%;
	}
	.quick-contact {
		max-width: 49%;
	}
	// quick nav styles don't need to kick in at small
	.quick-contact {
		display: inline-block;
		clear: none;
		li {
			margin-right: 1rem;
		}
		li:last-child {
			margin-right: 0;
		}
	}
}

// hide the tel / email
@media (max-width: $toast-breakpoint-medium) {
	.quick-contact {
		display: none;
	}
}

@media (min-width: $toast-breakpoint-small) {
	.site-nav {
		font-size: 0.8rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
	.main-nav {
		display: inline-block;
		clear: none;
		float: right;
		li {
			margin-left: 1rem;
			text-align: right;
		}
		li:first-child {
			margin-left: 0;
		}
	}
	.product-nav {
		ul {
			float: right;
			li {
				margin-left: 1rem;
			}
			li:first-child {
				margin-left: 0;
			}
		}
	}
}


// small size nav
@media (max-width: $toast-breakpoint-small) {
	.site-nav {
		padding-top: 0.25rem;
	}
	.main-nav {
		margin: 0;
		padding: 0;
		float: right;
		clear: both;
		width: 100%;
		li {
			display: block;
			width: 49%;
			margin-right: 1px;
			float: left;
			text-align: left;
			font-size: 1rem;
			padding: 0.5em 0 0.5em 0;
			border-bottom: 1px solid lighten($c2-darkblue, 10%);
		}
	}
	.nav-logo {
		clear: both;
	}
	.product-nav-ul {
		clear: both;
		float: left;
		width: 100%;
		li {
			width: 100%;
			clear: both;
			display: block;
			text-align: left;
			font-size: 1rem;
			padding: 0.5em 0 0.5em 0;
			border-bottom: 1px solid #efefef;
		}
	}
}