/*------------------------------------*\
    #TABLES
\*------------------------------------*/

$table-alt: #efefef;

table {
	width: 100%; 
	font-size: 0.8rem;
	margin-top: 1rem;
  margin-bottom: 1rem;
  background: white;
  margin-bottom: 1.25rem;
  border: solid 1px #efefef;
  table-layout: auto;}
  
  tr td:first-child {
    color: lighten($color-main, 20%);
  	font-weight: bold;}
  
th {font-weight: bold; color: #fff; background: $c2-blue;}

  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.8rem;
    text-align: center; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: $table-alt; }
  table thead tr th,
  table tfoot tr th,
  table tfoot tr td,
  table tbody tr th,
  table tbody tr td,
  table tr td {
    display: table-cell;
    line-height: 1.125rem;}
    
