/*------------------------------------*\
    #DIGITAL WORKSPACES
\*------------------------------------*/

$ws: $c2-blue;
.home-workspaces {
	background-color: $ws;
	//background-image: url(#{$themepath}/meson-white-grid.svg);
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding-top: 1rem;
	padding-bottom: 2rem;
	border-bottom: 5px solid darken($ws, 8%);
	h2, .intro {
		color: #fff;
	}
}

.workspace-list {
	padding-top: 1rem;
}

.workspace-image {
	width: 34px;
	height: auto;
	text-align: center;
}

.workspace-card {
	padding: 0;
	color: darken($ws, 20%);
	margin-bottom: 1rem;
	position: relative;
	border-bottom: 2px solid darken($c2-blue, 10%);
}

a.workspace-card-link {
	display: block;
	width: 100%;
	color: #fff;
}

a.workspace-card-link:hover h3, a.workspace-card-link.current h3 {
	color: lighten($c2-blue, 40%);
	transition: all 0.2s ease;
}

.workspace-card-heading {
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
	text-shadow: 1px 2px 2px darken($ws, 10%);
}

.workspace-details {
	overflow: hidden;
	position: relative;
	padding: 1rem 1.5rem 0.5rem 1.5rem;
	border: 1px solid darken($c2-blue, 10%);
	border-radius: 2px;
	background: darken($c2-blue, 5%);
	margin-top: 1rem;
	p {
		position: relative;
		z-index: 20;
		color: #fff;
	}
	h3 {
		position: relative;
		color: #fff;
		margin-top: 0;
		z-index: 20;
	}
	img {
		position: absolute;
		right: 2rem;
		top: 2rem;
		z-index: 10;
		width: 6rem;
		opacity: 0.2;
		height: auto;
	}
}

@media (max-width: $toast-breakpoint-small) {
	.workspace-list {
		.grid__col {
			width: 100%; // don't know why this is needed
		}
	}
	.workspace-card {
		display: block;
		clear: both;
		width: 100%;
		margin-bottom: 0;
	}
	.workspace-image-wrap {
		width: 5%;
		margin-right: 10px;
		margin-top: 0.5rem;
		margin-bottom: 0;
		display: inline-block;
		img {
			max-width: 100%;
		}
	}
	.workspace-card-heading {
		display: inline-block;
		max-width: 80%;
		margin-bottom: 0.5rem;
		margin-top: 0.5rem;
	}
}