html {
	padding: 0;
}

body {
	padding: 0;
}

section {
	position: relative;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: $toast-breakpoint-small) {
	.wrapper {
		padding: 0 1rem;	
	}
}

.centred {
	margin-left: auto;
	margin-right: auto;
}

aside {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


.post {
	padding-top: 2rem;}


.page-content + hero {
	padding-top: 0;
}

.page-general {
	padding-bottom: 2rem;
}

.home-news {
	.card {
		background: rgba(255,255,255,0.75);
	}
	padding-top: 2rem;
	padding-bottom: 2rem;
	//background-image: url(#{$themepath}/meson-tile.svg);
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: $color-grey-bg;
}

.cta:before {
	background-image: linear-gradient(90deg, $c2-darkblue 0%, lighten($c2-blue, 20%) 100%);
	content: '';
	display: block;
	height: 5px;
}

.cta {
	z-index: 100;
	position: relative;
	h2 {
		padding-top: 0.5rem;
	}
	background-image: url(#{$themepath}/roundels-faded-top-right.svg);
	background-color: rgba(255,255,255, 0.6);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	background-position: top right;
	background-repeat: no-repeat;
	background-attachment: fixed;
	//padding-top: 1rem;
	padding-bottom: 2rem;
}