/*------------------------------------*\
    #DIGITAL WORKSPACES
\*------------------------------------*/

$ws: $c2-purple;

.home-workspaces {
	background: $ws;
	padding-top: 1rem;
	padding-bottom: 2rem;
	h2, .intro {
		color: #fff;
	}
}

.workspace-image-wrap {
	background-color: darken($ws, 10%);
	display: block;
	padding: 0.5rem;
	border-radius: 200px;
	float: left;
}

.workspace-image {
	width: 34px;
	height: auto;
	text-align: center;
}

.workspace-card {
	//background: rgba(255,255,255,1);
	//box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
	padding: 0;
	color: darken($ws, 20%);
	margin-bottom: 1.5rem;
	position: relative;
	border-radius: 4px;
}


a.workspace-card-link {
	 display: block;
	 float: left;
	 width: 100%;
	 color: #fff;
 }

.workspace-card-link:hover .workspace-image-wrap {
	background-color: lighten($ws, 10%);
}

.workspace-card-heading {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0.8rem;
	max-width: 4rem;
	float: left;
	margin-left: 1rem;
}


.workspace-details {
	h3 {
		color: $c2-purple;
		margin-top: 0;
	}
	padding: 1rem;
	border: 1px solid #fff;
	border-radius: 4px;
	background: rgba(255,255,255, 0.8);
}