/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero {
	color: #fff;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-position: right center;
	background-repeat: no-repeat;
	.subtitle {
		font-size: 1.5rem;
	}
	background-size: cover;
	p {
		font-family: 'avant-demi';
		font-size: 1.3rem;
		line-height: 1.2;
	}
	em {
		font-style: normal;
	}
	h1 {
		color: #fff;
	}
}

.case-hero {
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 4px solid #eee;
	h1 {
		margin-top: 1rem;
	}
}

.case-hero-thumb {
	max-width: 80px;
}

.home.hero {
	h1 {
		color: $c2-darkblue;
		margin-top: 1rem;
	}
	.subtitle {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.2rem;
		color: $c2-darkblue;
	}
	p em {
		color: $c2-darkblue;
	}
	background-attachment: cover;
	background-image: url(#{$themepath}/hero/home-rocket.jpg);
}


.meson.hero h1 {
	color: #3a2f2f;
}
.meson.hero p {
	color: #485a6f;
	mix-blend-mode: multiply;
}

.about.hero h1 {
	color: #fdfcde;
	max-width: 80%; // trying to elimiate ugly break
}
.about.hero p a, .about.hero p a:visited {
	color: #7ea6ca;
}

.stories.hero {

}
.stories.hero h1 {
	color: #085b8f;
	mix-blend-mode: multiply;
}
.stories.hero p {
	color: #5e4337;
	mix-blend-mode: multiply;	
}

.news.hero p, .news.hero h1 {
	color: $c2-midblue;
	mix-blend-mode: multiply;
}


.events.hero h1 {
	color: #fcf6f7;
	color: #16445a;
	//mix-blend-mode: multiply;
}

.events.hero p {
	color: #e90e0f;
	mix-blend-mode: multiply;
}


.cloud.hero h1 {
	//color: #ec2465; hot pink
	color: #e9e9e4;
	mix-blend-mode: overlay;
}

.cloud.hero p {
	color: #e9e9e4;
	mix-blend-mode: overlay;
}

.blog.hero h1 {
	color: #931018;
	mix-blend-mode: multiply;
}

.blog.hero p {
	color: #3a101b;
	mix-blend-mode: multiply;	
}

.contact.hero h1 {
	color: #5d3f5a;	
}
.contact.hero p {
	color: #2c6183;	
}


.dt.hero h1 {
	color: #4c332d;
	mix-blend-mode: multiply;
}
.dt.hero p {
	color: #faf1e1;	
}

.hadron.hero h1 {
	color: #ce4f3b;

}
.hadron.hero p {
	mix-blend-mode: multiply;
	color: #604a52;	
}



@media (max-width: $toast-breakpoint-medium) {
	.hero {
	background-position: center center;

	background-opacity: 0.5;
	}
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: $toast-breakpoint-medium) {
	.hero.home {
		min-height: 500px;
		.button {
		margin-bottom: 4rem;
	}
	}
	.home-cards {
		.card {
			margin-top: -5rem;
		}
	}
}