/*------------------------------------*\
    #HERO
\*------------------------------------*/

.hero {
	color: #fff;
	background-color: $c2-blue;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-position: right center;
	background-repeat: no-repeat;
	.subtitle {
		font-size: 1.5rem;
	}
	background-color: rgba(0, 0, 0, 0.6);
	background-position: cover;
	p {
		font-family: 'avant-demi';
		font-size: 1.3rem;
		line-height: 1.2;
	}
	em {
		font-style: normal;
	}
	h1 {
		color: #fff;
	}
}


.case-hero {
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 4px solid #eee;
	h1 {
		margin-top: 1rem;
	}
}

.case-hero-thumb {
	max-width: 80px;
}

.home.hero {
	h1 {
		color: $c2-darkblue;
		//font-size: 52px;
	}
	.subtitle {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.2rem;
		color: $c2-darkblue;
	}
	p em {
		color: $c2-darkblue;
	}
	background-attachment: cover;
	background-image: url(#{$themepath}/hero/home-rocket.jpg);

}

@media (max-width: $toast-breakpoint-medium) {
	.hero {
	background-position: center center;

	background-opacity: 0.5;
	}
	h1 {
		font-size: 2rem;
	}
}

@media (min-width: $toast-breakpoint-medium) {
	.hero.home {
		min-height: 500px;
	}
	.home-cards {
		.card {
			margin-top: -5rem;
		}
	}
}