/*------------------------------------*\
    #CASE STUDIES
\*------------------------------------*/


.card-case {
	padding-top: 8rem;
	padding-bottom: 4rem;
}
.case-thumb {
	max-width: 25%;
	margin-bottom: 100
}