---
layout: default
---

{% include hero.html %}

<div class="wrapper">
<article class="post">

<p class="intro">{{ page.intro }}</p>

<nav class="cf">
<ul class="page-subnav js-scroll-about">
<li><a href="#team" title="Meet the team">Meet the team</a></li>
<!--<li><a href="" title="Our workplace">Workplace</a></li>-->
<li><a href="#meet-the-directors" title="Meet the directors">Directors</a></li>
<li><a href="#we-work-with-the-best" title="Partners">Partners</a></li>
<li><a href="#values" title="Values">Values</a></li>
<li><a href="#principles" title="Principles">Principles</a></li>
</ul>
</nav>

<section class="profiles" id="team">

{% assign items = site.profile | sort: 'date' %}
<div class="grid">
{% for profile in site.profile %}
<div class="profile grid__col grid__col--1-of-4 grid__col--m-1-of-3 grid__col--s-1-of-1">
<div class="profile-summary-wrap">
<div class="profile-summary"><div class="profile-summary-text">{{ profile.summary }}</div></div>
<img class="profile-pic" alt="{{ profile.title }}" src="{% if profile.pic %}{{ profile.pic }}{% else %}http://placehold.it/400x400?text=placeholder{% endif %}">
</div>

<h3>{{ profile.title }}</h3>
<h4>{{ profile.job-title }}</h4>
</div><!-- end grid col -->
{% endfor %}

</div><!-- end grid -->

</section>

<hr>

<div class="post-content">

{{ content }}

</div>

</article>

{% assign items = site.partner | sort: 'date' %}
<div class="grid partners" id="partners">
{% for partner in site.partner limit:4 %}
<div class="partner grid__col grid__col--1-of-3 grid__col--m-1-of-2 grid__col--s-1-of-1">
<div class="logo-wrap">
<img class="partner-logo" src="/images/partners/{{ partner.logo }}" title="{{ partner.alt }}">
</div>
<div class="partner-description">{{ partner.content }}</div>
</div>

{% endfor %}
</div><!--end grid -->

<hr>

<div id="values" class="accordion-wrap cf">
<h2>Our values</h2>
<div class="accordion">

{% assign items = page.values %}
{% for values in page.values limit:100 %}
	<h3>{{ values.title }}</h3>
	<div class="accordion-content">
	<p>{{ values.text }}</p>
	</div>
{% endfor %}

</div><!-- end ac wrap -->

<div id="principles" class="accordion-wrap cf">
<h2>Our Business principles</h2>
<div class="accordion">

{% assign items = page.principles %}
{% for principles in page.principles limit:100 %}
	<h3>{{ principles.title }}</h3>
	<div class="accordion-content">
	<p>{{ principles.text }}</p>
	</div>
{% endfor %}

</div><!-- end ac wrap -->

</div>
</div>