---
layout: default
---

<!-- different Hero banner for case -->
<div class="case-hero {% if page.nav-class %}{{ page.nav-class }}{% endif %}">
<div class="wrapper">

<div class="grid">
<div class="grid__col grid__col--4-of-5 grid__col--m-1-of-1 grid__col--s-1-of-1">
<img class="case-hero-thumb" src="{% if page.thumb %}/images/stories/{{ page.thumb }}{% else %}http://placehold.it/400x300?text=case+study-logo{% endif %}" alt="{{ page.title }} - a Cloud2 success story"/>
<h1 class="post-title">{{ page.title }}</h1>
<p>{{ page.hero-text }}</p>
</div><!-- end grid cols -->

</div><!-- end grid -->
</div><!-- end wrapper -->
</div><!-- end hero -->

<div class="wrapper">

<article class="post page-general">

<header class="post-header">

</header>

<div class="post-content">
{% if page.summary %}<p class="article-summary">{{ page.summary }}</p>{% endif %}

<figure>
{% if page.main-pic %}<img src="/images/stories/{{ page.main-pic }}" alt="{{ page.title }}" class="feature-image"/>{% endif %}
<p class="caption">{{ page.image-caption }}</p>
</figure>
{{ content }}
</div>

</article>

</div>