---
layout: default
---

{% include hero.html %}

<div class="wrapper">

<nav class="">
<ul class="categories inline">
<li class="intruction">View by:</li>
<li><a href="#" title="Health" class="js-cat-link health" data-category="health">Health</a><li>
<li><a href="#" title="Corporate" class="js-cat-link corporate" data-category="corporate">Corporate</a></li>
<li><a href="#" title="Intranets" class="js-cat-link intranets" data-category="intranets">Intranets</a></li>
<li><a href="#" title="Analytics" class="js-cat-link analytics" data-category="analytics">Analytics</a></li>
<li><a href="#" title="Cloud" class="js-cat-link cloud" data-category="cloud">Cloud</a></li>
<li><a href="#" title="Show all" class="js-show-all">Show all</a></li>
</ul>
</nav>

<article>
<div class="post-content">
{{ content }}
</div>
{% include listing-case.html %}
</article>