---
layout: default
---

<div class="event-page-intro">
<div class="wrapper">

<div class="grid">

<div class="grid__col grid__col--3-of-5 grid__col--m-1-of-1 grid__col--s-1-of-1">

<img alt="{{ page.title }}" class="event-intro-image" src="http://placehold.it/900x600">

</div><!-- end grid col -->


<div class="grid__col grid__col--2-of-5 grid__col--m-1-of-1 grid__col--s-1-of-1">

<aside>

<div class="event-list-date">
	<span class="month">{{ page.date | date: "%b" }}</span>
	<span class="day">{{ page.date | date: "%-d" }}</span>
	<span class="year">{{ page.date | date: "%Y" }}</span>
</div>

<h1 class="event-page-title">{{ page.title }}</h1>

<div class="location">
{{ page.location }}
</div>

{% if page.booking-url %}<a href="{{ page.booking-url }}" title="Book {{ page.title }}{% if page.shortlocation %} at {{ page.shortlocation }}{% endif %} on {{ page.date | date: "%b %-d" }}" class="button">Book now</a>{% endif %}

</aside>

</div><!-- end grid col -->
</div><!-- end grid -->

</div><!-- end wrapper -->
</div><!-- end page intro -->

<div class="wrapper  page-general">

<h2 class="summary">{{ page.summary }}</h3>

{{ content }}
</div>