---
layout: default
---

<div class="wrapper youtube">
<div class="vid-wrap-wrap">
<div class="videowrapper">
<iframe width="560" height="349" src="https://www.youtube.com/embed/7XnzhHtPLjg" frameborder="0" allowfullscreen></iframe>
</div>
</div>
</div>

<div class="wrapper">

<article>
<h1 class="post-video">{{ page.title }}</h1>
<div class="post-content">
{% if page.excerpt %}<p class="article-summary">{{ page.excerpt }}</p>{% endif %}
{{ content }}
</div>

</article>

</div><!-- end wrapper -->