---
layout: default
---

{% include hero.html %}

<div class="wrapper page-general">

<article class="post">

<header class="solution-header">
{% if page.product-logo %}
<img class="solution-logo {{ page.title }}"  alt="{{ page.title }} solution from Cloud2" src="/images/solutions/{{ page.product-logo }}">
{% endif %}
</header>

<div class="post-content">
{% if page.summary %}<p class="article-summary">{{ page.summary }}</p>{% endif %}
{{ content }}
</div>

</article>

</div>


{% include form-cta.html %}